.CommentItem {
  border-bottom: 1px solid black;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  width: 300px;
  left: 50%;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
}
span {
  color: white;
  display: inline-block;

  width: 300px;
  height: 20px;
  display: flex;
  align-items: center; /*세로 정렬*/
  justify-content: center; /*가로 정렬*/
}
.title {
}

.likes {
  vertical-align: bottom;
}
